<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--    <context:component-scan base-package="com.randke"></context:component-scan>-->

    <!--    <import resource="mybatis-config.xml"></import>-->
    <bean id="exampleService" class="com.randke.userService.ExampleService"></bean>
    <bean id="x" class="com.randke.userService.X"></bean>
    <bean id="xx" factory-bean="x" factory-method="get">
        <constructor-arg ref="exampleService"></constructor-arg>
    </bean>
    <!--    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
    <!--        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test?characterEncoding=utf8"/>-->
    <!--        <property name="user" value="root"/>-->
    <!--        <property name="password" value="wangke@123"/>-->
    <!--        <property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
    <!--    </bean>-->

    <!--    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--        <property name="dataSource" ref="datasource"/>-->
    <!--    </bean>-->

    <!--    &lt;!&ndash;事物的增强的实现&ndash;&gt;-->
    <!--    <tx:advice id="myadvice" transaction-manager="txManager">-->
    <!--        <tx:attributes>-->
    <!--            <tx:method name="update*" isolation="REPEATABLE_READ" propagation="REQUIRED"-->
    <!--                       rollback-for="java.lang.Exception"/>-->
    <!--            <tx:method name="insert*" isolation="REPEATABLE_READ" propagation="REQUIRED"-->
    <!--                       rollback-for="java.lang.Exception"/>-->
    <!--        </tx:attributes>-->
    <!--    </tx:advice>-->

    <!--    &lt;!&ndash;构建切面&ndash;&gt;-->
    <!--    <aop:config>-->
    <!--        <aop:pointcut id="mypointcut" expression="execution( * com.randke.userService.*.*(..))"/>-->
    <!--    </aop:config>-->

    <!--    &lt;!&ndash;增强方法&ndash;&gt;-->
    <!--    <aop:config>-->
    <!--        <aop:advisor advice-ref="myadvice" pointcut-ref="mypointcut"/>-->
    <!--    </aop:config>-->

    <!--    <aop:aspectj-autoproxy/>-->
</beans>